.feedback {
    .title {
        margin-bottom: 14px;
        text-align: center;
    }
    p {
        @include F-ProximaNova(400);
        font-size: 1.25rem;
        line-height: 1.563rem;
        margin-bottom: 20px;
        color: #555555;
        text-align: center;
    }
    .divider {
        @include size(180px, 3px);
        background-color: #5e472a;
        margin: 0 auto 45px auto;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 756px;
        background-color: #ffffff;
        margin: 0 auto;
        padding: 35px 168px 26px 168px;
        border-radius: 23px;
        box-shadow: 0px 0px 100px -15px rgba(0,0,0,0.75);

        .form-control{
            margin-bottom: 20px;
            border-radius: 18px;
            @include F-ProximaNova(400);
            font-size: 1.063rem;
            line-height: 1.25rem;
            padding: 15px 25px 12px 25px;
            color: #555555;
            outline: none;
            @include border(1px, rgba(85,85,85,.2));
            @include placeholder-color(rgba(85,85,85,.2));
        }
        textarea.form-control{
            height: 100px;
            resize: none;
        }
        button{
            padding: 6.5px 31px 8px 31px;
            background-color: #5e472a;
            color: #ffffff;
            border-radius: 10px;
            text-align: center;
            @include F-ProximaNova(400);
            font-size: 1.25rem;
            line-height: 1.813rem;
            outline: none;
            border: none;
            align-self: center;
        }
    }
}