$checkbox-text-color: $body-color;
.checkbox {
    display: inline-block;
    @include size(20px);
    border-radius: 2px;
    border: 1px solid $gray-400;
    background-color: $gray-300;
    &__text {
        font-size: 1.25rem;
        line-height: 1;
    }
    &.checked {
        background-color: $green-light;
        border: none;
        &::after {
            content: '✓';
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 1.25rem;
            font-weight: 900;
        }
    }
}

.switcher {
    $size-h: 28px;
    $size-w: 64px;
    $lever-size: 30px;
    // ============
    position: relative;
    border: 1px solid #b7b7b7;
    background: linear-gradient(to bottom, #2b2b2b, #4e4e4e);
    box-shadow: 0 1px 3px #dfdfdf;
    border-radius: $fully-rounded-size;
    @include size($size-w, $size-h);
    &-container {
        display: flex;
        align-items: center;
    }
    &__lever {
        position: absolute;
        @include size($lever-size);
        background: linear-gradient(to bottom, #d4d4d4, #ececec);
        box-shadow: 0 1px 3px 0px #aaa, inset 0 1px 1px #fff;
        border-radius: $fully-rounded-size;
        right: -2px;
        top: -2px;
        transition: right .35s ease;
    }
    &.active{
        background: linear-gradient(to bottom, #91af00, #a7ca00);
    }
    &.active &__lever{
        right: calc(100% - 30px + 2px);
    }
    &__option {
        color: $muted;
    }
    &__option+&,
    &+&__option {
        margin-left: 10px;
    }
    input[type="checkbox"] {
        display: none;
    }
}

.form-control {
    border-radius: 20px;
    @include F-ProximaNova(400);
    font-size: 1.063rem;
    line-height: 1.25rem;
    padding: 11px 25px 11px 25px;
    color: #555555;
    outline: none;
    @include border(1px, rgba(85, 85, 85, .2));
    @include placeholder-color(rgba(85, 85, 85, .2));
}

textarea.form-control {
    height: 100px;
    resize: none;
}