.header {
    background-color: $main-navigation-color;
    height: 95px;
}

.header>.header__inner {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .header__logo {
        height: 100%;
    }
    .header__logo>svg {
        padding: 3px 0 7px 0;
    }
    .header__menu {
        z-index: 5;
    }
    .header__menu-wrapper {
        @include position-relative;
        display: flex;
        align-items: center;
        height: 100%;
        flex: 1;
        justify-content: flex-end;
    }
    .header__decor-wrapper {
        display: block;
        @include size(100%);
        position: absolute;
        overflow: hidden;
    }
    .header__dec-circles {
        @include position-absolute;
        width: 737px;
        top: -498px;
        right: 53px;
    }
}