.solutions{
    text-align: center;
    .picture{
        margin-bottom: 19px;
    }
    &__title{
        color: #4a801e;
        margin-bottom: 1px;
        @include F-ProximaNova(700);
        font-size: 2.313rem;
        line-height: 2.063rem;
        text-transform: uppercase;
    }
    .description{
        @include F-ProximaNova(400);
        font-size: 1.25rem;
        line-height: 1.563rem;
    }
    .catalog-link{
        margin-top: 30px;
        padding: 7px 22px;
        @include F-ProximaNova(400);
        font-size: 1.25rem;
        line-height: 1.813rem;
        @include color(#fff);
        background-color: #5e472a;
        border-radius: 10px;
        &:hover{
            background: linear-gradient(to top, #315513, #4a801e);
        }
    }
}