

.category-menu{
    height: 39px;
    @include F-ProximaNova(300);
    font-size: 0.9375rem;
    @include reset-list;
    display: flex;
    justify-content: center;
    
    &__item {
        display: flex;
        align-items: center;
        padding: 0 19px 0 20px;
        color: #fff;
        &:not(:last-child){
            border-right: 1px solid $brown-1;
        }
        &:last-child{
            margin-right: -20px;
        }
        &:first-child{
            margin-left: -20px;
        }
        &:hover{
            color: #fff;
            background-color: $brown-3;
        }
    }
}