.contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__item {
        text-align: center;
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__icon {
        margin-bottom: 0.5rem;
    }

    &__content {
        font-size: 1.25em;
    }
}