.link {
    color: $brown;
    &:hover {
        color: $brown;
    }
    line-height: 1.563rem;
    &_hover:hover {
        color: $green;
    }

    text-decoration: underline;
    &:hover{
        text-decoration: underline;
    }

    &_lg{
        font-size: 1.25rem;
        font-weight: 700;
    }
}

.link.link_color_green, .link.link_color_green:hover{
    color: $green;
}