.modal {
    $p: .75rem 1rem;
    width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    &__header {
        padding: $p;
        padding-top: 1rem;
        background-color: $white;
        position: relative;
        box-shadow: 0 0 15px transparentize($black, .6);
    }

    &__minimize-btn,
    &__times-btn {
        cursor: pointer;
        height: 2rem;
        position: absolute;
        right: 1rem;
        top: 1rem;

        svg {
            fill: $muted;
        }
    }

    // превращаем крестик в минус
    &_opened &__minimize-btn {
        svg>#y {
            display: none;
        }
    }

    &_opened &__body,
    &_opened &__note {
        display: block;
    }

    &_opened &__header {
        box-shadow: none;
    }

    &__body {
        display: none;
        background-color: $white;
        padding: $p;
        padding-top: 0;
        padding-bottom: 1.5rem;

        .divider {
            margin-bottom: 1.5rem;
        }

        .contact-list {
            margin-bottom: 1.5rem;
        }

        form.modal-request-form {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 450px;
            margin-bottom: 1.5rem;

            .form-control:not(:last-child) {
                margin-bottom: .75rem;
            }
        }

        hr {
            border-color: transparentize($gray-300, .6);
            margin-bottom: 1.5rem;
        }
    }

    &__actions {
        display: flex;
        justify-content: center;

        .btn:first-child {
            margin-right: 2rem;
        }
    }

    &__note {
        display: none;
        color: $white;
        text-align: center;
    }
}

.modal-overlay {
    position: relative;

    &_hidden::before {
        content: none;
        display: none;
    }

    &_fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 100;
        display: flex;
        align-items: center;
    }

    &::before {
        content: '';
        @include size(100%);
        background-color: transparentize($black, .5);
        position: absolute;
        z-index: 1;
    }

    &_fixed::before {
        background-color: transparentize($black, .2);
    }
}