.product {
    display: flex;
    &__image>img {
        @include size(300px, 166px);
        margin-right: $grid-gutter-width / 2;
    }
    &__image_offset>img {
        margin-left: -$grid-gutter-width / 2;
    }
    &__info {
        flex: 1;
        margin-right: 2rem;
    }
    &__title {
        color: $body-color;
        font-size: 1.25rem;
        font-weight: 700;
    }
    &__params {
        @include product-params-flex;
        margin-bottom: 1rem;
    }
    &__prices {
        @include reset-list;
        margin-top: 2rem;
    }
    &__price {
        font-size: 1.25rem;
        font-weight: 700;
        color: $green;
        line-height: 1.563;
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
    }
    &__link {
        line-height: 1;
        @include color($green);
        text-decoration: underline;
    }
    &_mini &__prices {
        margin-top: 0;
        align-self: center;
    }
    &_mini &__image>img {
        @include size(107px);
    }
    &_mini &__info {
        align-self: center;
    }
}

.product-calculator {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__separator {
        background-color: $gray-300;
        width: 1px;
        align-self: stretch;
    }
    &__count {
        width: 173px;
    }
    &__summary {
        color: $muted;
        text-align: center;
        &>strong {
            display: block;
            font-size: 1.25rem;
            color: $green;
            font-weight: 700;
        }
    }
}

