.separator {
    @include size(180px, 3px);
    background-color: #fff;
    &_color_brown{
        background-color: #5e472a;
    }
    &_thin{
        @include size(100%, 1px);
        background-color: $gray-300;
    }
}