$title_color_brown: $brown-2;

.title {
    @include IntroInline(400);
    font-size: 3.625rem;
    line-height: 3.375rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -3px;
    margin-bottom: 1rem;
    text-align: center; // Коричневый цвет текста

    &_brown {
        color: $title_color_brown;
    }

    // Large font size
    &_size_lg {
        font-size: 5.125rem;
        line-height: 4.75rem;
        letter-spacing: -2px;
    }

    // Shadow text
    &_shadow {
        @include text-shadow(15px);
    }

    &+p {
        text-align: center;
        font-size: 1.25rem;
    }
}

.divider {
    @include size(180px, 3px);
    background-color: $brown-2;
    margin: 0 auto 45px auto;

    &_white {
        background-color: $white;
    }

    &_shadow {
        box-shadow: 0 0 5px 0px black;
    }
}