footer.footer
    .container
        .row.justify-content-between.align-items-center
            a(href="#").back-to-top В начало сайта
            .copyright ООО «Элит-Вуд», Челябинск 2018
            div
                img(src="/images/maker.png", alt="design maker")