
- var headerPages = locals['header-pages']
- var showCartItemsCounter = false

header.header
    .header__inner.page-container
        a(href="javascript:;").header__logo.logo-white
            include ../svg/logo.svg
        .header__menu-wrapper
            .header__decor-wrapper
                .header__dec-circles
                    include ../svg/dec-circles.svg
            ul.navigation-menu.header__menu
                each item in headerPages
                    li.navigation-menu__item(class=typeof item.active === 'undefined' ? undefined : 'navigation-menu__item_active')
                        a.navigation-menu__link(href="javascript:;")= item.title
                li.navigation-menu__item.cart-preview__toggler
                    include ./_cart