include ../mixins/index

doctype html
html
    head
        title= title && 'UNDEFINED'
        meta(charset="utf-8")
        //- meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        link(rel="stylesheet", href="/styles.css")
        block head_end

    body
        .wrapper
            include _header

            block content

            include _footer

        block modals
        block scripts
