- var categories = locals['categories']

mixin category-menu
    .accordion
        each cat in categories
            .accordion__item(class=cat.title == 'Погонажная продукция' ? 'opened' : undefined)
                div=cat.title
                .accordion__caret.accordion__caret_down.ml-2
                    include ../svg/angle-down.svg
                .accordion__caret.accordion__caret_up.ml-2
                    include ../svg/angle-up.svg
            if cat.title == 'Погонажная продукция'
                .accordion__item-content.accordion__item-content_checkboxes
                    if cat.sub && cat.sub.length
                        each subcat in cat.sub
                            +checkbox(subcat.title, subcat.active, 'd-flex')
                    else
                        div Нет подкатегорий
                        