
/* Proxima Nova */

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('/fonts/ProximaNova-RegularIt.woff2') format('woff2'), url('/fonts/ProximaNova-RegularIt.woff') format('woff'), url('/fonts/ProximaNova-RegularIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('/fonts/ProximaNova-Extrabld.woff2') format('woff2'), url('/fonts/ProximaNova-Extrabld.woff') format('woff'), url('/fonts/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('/fonts/ProximaNova-Regular.woff2') format('woff2'), url('/fonts/ProximaNova-Regular.woff') format('woff'), url('/fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('/fonts/ProximaNova-BoldIt.woff2') format('woff2'), url('/fonts/ProximaNova-BoldIt.woff') format('woff'), url('/fonts/ProximaNova-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('/fonts/ProximaNova-Black.woff2') format('woff2'), url('/fonts/ProximaNova-Black.woff') format('woff'), url('/fonts/ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('/fonts/ProximaNova-LightIt.woff2') format('woff2'), url('/fonts/ProximaNova-LightIt.woff') format('woff'), url('/fonts/ProximaNova-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('/fonts/ProximaNova-Light.woff2') format('woff2'), url('/fonts/ProximaNova-Light.woff') format('woff'), url('/fonts/ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('/fonts/ProximaNova-Bold.woff2') format('woff2'), url('/fonts/ProximaNova-Bold.woff') format('woff'), url('/fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('/fonts/BebasNeueLight.woff2') format('woff2'),
        url('/fonts/BebasNeueLight.woff') format('woff'),
        url('/fonts/BebasNeueLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Intro */
/* https://www.fontfabric.com/intro-free-font/ */

@font-face {
    font-family: 'Intro';
    src: url('/fonts/Intro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Inline';
    src: url('/fonts/Intro-Inline.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Circle Bold */

@font-face {
    font-family: 'Cirlce Bold';
    src: url('/fonts/Cirlce-Bold.woff') format('woff'), url('/fonts/Cirlce-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* generated by Transfonter (https://transfonter.org)  */

/*
100 — тонкое начертание;
200 — сверхсветлое;
300 — светлое;
400 — нормальное (аналогично normal);
500 — среднее;
600 — полужирное;
700 — жирное (аналогично bold);
800 — сверхжирное;
900 — тяжёлое.
*/

@mixin F-ProximaNova($weight: null){
    font-family: 'Proxima Nova';
    @if($weight != null){
        font-weight: $weight;
    }
}

@mixin IntroInline($weight: null){
    font-family: 'Intro Inline';
    @if($weight != null){
        font-weight: $weight;
    }
}

@mixin BebasNeue($weight: null){
    font-family: 'Bebas Neue';
    @if($weight != null){
        font-weight: $weight;
    }
}

@mixin CirlceBold($weight: null){
    font-family: 'Cirlce Bold';
    @if($weight != null){
        font-weight: $weight;
    }
}