@mixin reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin offset($x: 0, $y: 0) {
    left: $x;
    top: $y;
}

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin color($color, $colorOnHover: null) {
    color: $color; // @debug $colorOnHover;
    @if $colorOnHover==null {
        $colorOnHover: $color;
    } // @debug $colorOnHover;
    &:hover {
        color: $colorOnHover;
    }
}

@mixin border-bottom($size, $color, $hover-color: null) {
    border-bottom: $size solid $color;
    &:hover {
        border-color: $hover-color;
    }
}

@mixin border($size, $color, $hover-color: null) {
    border: $size solid $color;
    &:hover {
        border-color: $hover-color;
    }
}

@mixin placeholder-color($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        /* FF 4-18 */
        color: $color;
    }
    &::-moz-placeholder {
        /* FF 19+ */
        color: $color;
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        color: $color;
    }
}

@mixin text-shadow($size: 5px) {
    text-shadow: 0 0 $size black;
}