
// $container-max-widths: (
//     // sm: 540px,
//     // md: 720px,
//     // lg: 960px,
//     // xl: 1140px
//     xl: 1200px
//   ) !default;

  $font-family-base: 'Proxima Nova', sans-serif;
  $line-height-base: 1.25;

  $body-bg: #eff9f4;
  $body-color: #555;


// Свои переменные

$green-light: #a7ca00;
$green: #4a801e;
$red: #c11a31;
$muted: #a4a4a4;
$brown: #855050;

$main-navigation-color: $green;

$gray-300: #eeeeee;

$brown-1: #725633;
$brown-2: #5e472a;
$brown-3: #41321e;

$category-menu-border-color: $body-bg;
$category-menu-color: $brown-2;

$billboard-shadow: .5;

$fully-rounded-size: 500px;

$spacers: (
  '4-5': 2rem
);