extends shared/layout

block content
    include shared/_category-menu

    main.main-content
        .main-content__vectors
            include svg/leaves1.svg
            include svg/leaves2.svg

        .page-container

            +breadcrumbs(['Главная', 'Корзина'], 'main-content__breadcrumb')

            .cart-page
                .cart-page__head
                    .cart-page__title Корзина
                    .cart-page__sub-title Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus venenatis sagittis ex et interdum. 

                .cart-page__summary-text ВАШ ЗАКАЗ: 3 товара на сумму 5 750

                .cart-product-list
                    .cart-product-list__item
                        include partials/cart-product
                    .cart-product-list__item
                        include partials/cart-product
                    .cart-product-list__item
                        include partials/cart-product

                .cart-page__summary-block
                    .cart-page__summary-text ИТОГО: 5 750 ₽
                    button.btn.btn_brown.cart-page__order-btn(type="button") Оформить заказ
            
            .similar-products.similar-products_solo
                div.mb-4 Также обратите внимание на товары и акции, которые могут вас заинтересовать:
                +sale-card('similar-products__sale')
                include partials/product_mini
                .separator.separator_thin
                include partials/product_mini

            .order-reasons
                +loud-title('Почему стоит заказать у нас', true)
                include partials/about-features
                .order-reasons__actions
                    a.btn.btn_lg(href="javascript:;") Подробнее о нас
                    a.btn.btn_lg.btn_brown(href="javascript:;") Оформить заказ