ul
    li
        a(href="main.html") Главная.psd
    li
        a(href="catalog.html") каталог.psd
    li
        a(href="promo.html") акции.psd
    li
        a(href="product.html") страница товара.psd
    li страница товара пиломатериал.psd
    li страница товара материалы для бань.psd
    li страница товара сопутствующий материал.psd
    li
        a(href="category.html") погонажная продукция.psd
        strong  Не закончено!
    li материалы для обработки.psd
    li готовая продукция.psd
    li контакты.psd
    li корзина.psd
    li 
        a(href="about.html") страница о нас.psd