.about-features.about-features_shrink.mb-5
    .feature-item
        .feature-item__image
        .feature-item__title 9 лет опыта в своей области
    .feature-item
        .feature-item__image
        .feature-item__title Широкий ассортимент продукции и предложений
    .feature-item
        .feature-item__image
        .feature-item__title Гибкий прайс-лист для каждого клиента
    .feature-item
        .feature-item__image
        .feature-item__title Официальный диллер немецких масел «Leinos»