.billboard-wrapper
    .bg-shadow
    .container
        h1.title.title_size_lg.title_shadow
            | Погонажная <br>продукция
        h2.subtitle От эконом до премиум сортов древесины
        .separator
        a(href="javascript:;").btn-order-call Заказать звонок
