.cart-preview
    .cart-preview__caption Ваш заказ: 3 товара
    .cart-preview__goods
        .cart-preview__product
            include ./product-preview
        .cart-preview__product
            include ./product-preview
    .cart-preview__more
        img(src="images/cart-more.png")
        .cart-preview__more-counter 1
    a.cart-preview__link(href="javascript:;") Перейти в корзину