.cart-product
    .cart-product__image
        img(src="images/cart-product-preview.jpg")
    .cart-product__title Форточка банная (Стеклопакет)
    ul.cart-product__params
        li Ширина: <strong>500 мм</strong>
        li Длина: <strong>400 мм</strong>
        li Материал: <strong>Липа</strong>
    .cart-product__instance-price 1 150 ₽/шт
    .cart-product__counter
        include cart-counter
    .cart-product__summary
        .cart-product__summary-text Сумма к оплате:
        .cart-product__summary-price 2 300 ₽
        .cart-product__summary-nds В том числе НДС 149 ₽