.modal.modal_opened
    .modal__header
        .title.title_brown.m-0 Контакты
        .modal__minimize-btn(id="contacts-modal-minimizer")
            include ../svg/caret.svg
    .modal__body
        p.subtitle.main-content__subtitle
            | Будем рады видеть вас у нас в офисе.<br>
            | Все покажем, а также угостим отменным чаем. Приезжайте.
        .divider

        .contact-list
            .contact-list__item
                img.contact-list__icon(src="/images/icons/marker.png")
                .contact-list__content г. Челябинск, ул. Кузнецова д. 47
            .contact-list__item
                img.contact-list__icon(src="/images/icons/phone.png")
                .contact-list__content
                    a.mr-3(href="tel:+79193011114") +7 (919) 301-11-14;
                    a(href="tel:+79193011115") +7 (919) 301-11-15
            .contact-list__item
                img.contact-list__icon(src="/images/icons/at.png")
                .contact-list__content 
                    a(href="mailto:service@elitewood.ru") service@elitewood.ru
        
        hr

        .modal__actions
            a.btn.btn_brown(href="javascript:;") Перейти в каталог
            button.btn(id="contacts-modal-open-request-form") Оставить заявку

    .modal__note.mt-1
        | Сверните блок контактов,<br>
        | чтобы получше рассмотреть карту


