.modal-overlay.modal-overlay_fixed.d-none(id="modal-request")
    .modal.modal_opened.modal_fixed
        .modal__header
            .title.title_brown.m-0 Оставьте заявку
            .modal__times-btn(id="modal-request-times")
                include ../svg/times.svg
        .modal__body
            p.subtitle.main-content__subtitle
                | Нам важно, чтобы каждый клиент остался довольным.<br>
                | Оставьте ваши контактные данные и наш специалист свяжется с вами.
            .divider

            form.modal-request-form(onsubmit="$event.preventDefault(); return false;" id="modal-request-form")
                input(type="text" placeholder="Имя Фамилия").form-control
                input(type="text" placeholder="Номер телефона или Email").form-control
                input(type="text" placeholder="Интересующая область (например, Баня под ключ)").form-control
                textarea(placeholder="Пометки").form-control

            .modal__actions
                button.btn.btn_brown(type="submit" form="modal-request-form") Отправить