.product.product_mini.similar-products__product
    .product__image
        img(src="/images/placeholder.png", alt="")
    .product__info
        h3.product__title.pt-1 Lorem Ipsum Avent «Dolor»
        ul.product__params
            li Главные характеристики
        a.product__link(href="javascript:;") Подробнее
    ul.product__prices
        li.product__price 245 ₽ /м<sup>2</sup>
        li.mt-3
            a(href="javascript:;").btn.btn_outline.btn_hover В корзину