.product-preview
    .product-preview__image
        img(src="images/cart-product-preview.jpg")
    .product-preview__info
        .product-preview__title Форточка банная (Стеклопакет)
        .product-preview__amount 1 шт
    .product-preview__price 2 300 ₽