
.suggestion.suggestion_minimize.suggestion-list__item
    .suggestion__picture
        img(src="/images/suggestions/2.png", alt="")
    .suggestion__description
        h3.suggestion__description-title Lorem Ipsum Avent «Dolor»
        h4.suggestion__description-caution Заканчивается через 06 дн 11 часов 03 минуты 55 секунд
        a(href="javascript:;").link.link_color_green Подробнее
    .suggestion__prices
        .suggestion__price-old 500 ₽ / л
        .suggestion__price 300 ₽ / л
        .suggestion__price-benefit Выгода 40%
        