
.billboard-wrapper{
    @include make-container;
    background-image: url('/layout/images/billboard.jpg');
    background-size: cover;
    background-position-y: 50%;
    position: relative;
    .bg-shadow{
        background: linear-gradient(to top, #111, rgba(255, 255, 255, 0));
        position: absolute;
        @include h100;
        @include w100;
        left: 0;
        top: 0;
    }
}

.billboard-wrapper .container{
    position: relative;
    text-align: center;
    padding-top: 211px;
    color: #fff;
    .title{
        margin-bottom: 3px;
    }
    h2.subtitle{
        font-family: 'Roboto';
        font-weight: 300;
        line-height: 35.41px;
        font-size: 1.813rem;
        margin-bottom: 21px;
    }
    .separator{
        margin: 0 auto 62px auto;
    }

    .btn-order-call{
        display: inline-block;
        @include F-ProximaNova(400);
        font-size: 1.25rem;
        line-height: 29.98px;
        color: #1c6781;
        background-color: #fff;
        padding: 7.5px 31.5px;
        border-radius: 8px;
        &:hover{
            color: #fff;
            background: linear-gradient(to top, #315513, #4a801e);
        }
    }
    padding-bottom: 74px;
}