.btn{
    padding: 6px 26px;
    line-height: 1.25;
    border-radius: 9px;
    color: $white;
    background-color: $green;
    @include hover{
        color: $white;
    }
    &_outline{
        color: $green;
        background-color: $white;
        border: 1px solid $green;
        @include hover{
            color: $green;
        }
    }
}