.sale-card{
    max-width: 1182px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include color(#fff);
    background: url('/images/sale-bg.jpg');

    .sale-percent{
        @include F-ProximaNova(800);
        font-size: 6.25rem;
        line-height: 7.063rem;
        letter-spacing: -3px;
    }

    .sale-description{
        padding-left: 20px;
        line-height: 1;
        margin-bottom: 10px;
        strong{
            @include F-ProximaNova(800);
            font-size: 2.563rem;
            display: block;
        }
        @include F-ProximaNova(300);
        letter-spacing: -1px;
        font-size: 1.563rem;
    }
}