

.text-center{
    text-align: center;
}


@mixin position-relative{
    position: relative !important;
}

@mixin position-absolute{
    position: absolute !important;
}
@mixin h100{
    height: 100%;
}
@mixin w100{
width: 100%;
}
@mixin pointer{
    cursor: pointer;
}