
$container-max-widths: (
    // sm: 540px,
    // md: 720px,
    // lg: 960px,
    // xl: 1140px
    xl: 1200px
  ) !default;

// Свои переменные

$main-navigation-color: #4a801e;
$main-bg-color: #eff9f4;

$category-menu-border-color: $main-bg-color;
$category-menu-color: #5e472a;
$category-menu-hover-color: #41321e;
$category-menu-splitter-color: #725633;

$billboard-shadow: .5;