.text-center {
    text-align: center;
}

@mixin position-relative {
    position: relative !important;
}

@mixin position-absolute {
    position: absolute !important;
}

@mixin h100 {
    height: 100%;
}

@mixin w100 {
    width: 100%;
}

@mixin pointer {
    cursor: pointer;
}

@mixin mx($val, $right: null) {
    margin-left: $val;
    @if $right == null {
        margin-right: $val;
    } @else {
        margin-right: $right;
    }
}

@mixin px($val, $right: null) {
    padding-left: $val;
    @if $right==null {
        padding-right: $val;
    } @else {
        padding-right: $right;
    }
}